* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: whitesmoke;
  color: #333;
  max-width:1200px;
  margin: 0 auto;
  padding:1em;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  gap:12px;

}
header{
  padding:1em;
}

nav ul li{
  border:solid 1px black;
  padding: .2em;
  text-align:center;
}
.gallery{
  padding:1em;
}