*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: whitesmoke;
    color: #333;
    padding: 3px;
    max-width: 960px;
    margin: 0 auto;
   background:
radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
background-color: rgb(209, 206, 206);
background-size:75px 100px;

}
header, h1{
    padding: 1em;
    text-align: center;
}
nav ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;  
    gap: 12px;

}
nav ul li{
    border: solid,1px,black;
    text-align: center;
    padding: 3px;  
    
}
.gallery{
    padding: 1em;

}
.image-gallery-description{
    text-align:center;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 10%;
    background-color: rgba(0,0,0,.7);
    text-transform: uppercase;
}
.escapadas{
    display:flex;
    flex-wrap: wrap;
    gap:16px;
    justify-content: center;
}
.escapadas div{
    width:256px;
}
.escapadas img{
    width:100%;
}
.escapada{
    display:flex;
    flex-direction: column;
    justify-items: center;
    
    text-align:center;
    padding:1em;
   
}
.escapada img{
    width:100%;
    background-color: white;
    padding:2em;
    border:double 6px maroon;
    margin:1em;
    box-shadow: 12px 12px 6px;
}
#formulario{
    padding:1em;
    display:flex;
    flex-direction: column;
      
    gap:16px; 
    
}
#formulario div{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:16px;
  padding:.5em;
  flex: 1 2;
}
#formulario div:nth-child(odd){
    background-color: rgb(213, 213, 213);
}
#formulario label{
    min-width: 100px;
}
#formulario input{
    min-width: 200px;
    min-height: 30px;
}




.mapa{
    height: 250px;
}

.respuesta{
    padding:.5em;
    font-weight: bold;
    background-color: rgb(212, 250, 251);
}


.superior{
    display:flex;
    flex-direction:row;
    justify-content: center;
}
.superior li{
     min-width:100px;
     border:none;
     background-color: #cde;
     padding:.5em;
     border-radius: 12px;

}
.superior a{
    text-decoration: none;
    color:maroon;
    font-variant: small-caps;
}
footer{
    background-color:rgba(0,0,0,.7);
    color:white;
    text-align: center;
    min-height: 60px;
    margin-top:1em;
    padding-top:.5em;
}